@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&family=Jost:wght@700&family=Work+Sans:wght@300;400;600;700;800;900&family=Roboto:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 0, 0, 0;
  --background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: 255, 255, 255;
    --background: 17, 24, 39 ;
  }
}

body {
  color: rgb(var(--text));
  background:rgb(var(--background));
  font-family: 'Inter', sans-serif;
}

/* Begin => Cutomization the UI library pagination */

.MuiPaginationItem-root{
font-size: small;
width: 20px;
height: 40px;
}

.MuiTouchRipple-root{
  width: 0px;
  height: 0;
}
.MuiPagination-root{
  padding: 5px 0px;
  border-top: 3px solid rgb(135, 134, 134);
  
}

.MuiPagination-ul li div{
    display: flex;
  align-items: center;
 
}
.MuiPagination-ul li{
  text-align: center;
   padding: 7px;
  width:5rem;
  padding-left: 18px;
}
.MuiPagination-ul li button:hover:not(.MuiPaginationItem-root:last-child){
  background: #3F5BF6;
}

/* @media (min-width: 768px) { */
  /* .MuiPagination-ul li{
     width: 13%;
  }

} */

/* <= End  of UI library Pagination Cumtomization=> */


.date, .modal{
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
.getlen:last-child{
  margin-bottom: 150px;
}
.date::-webkit-scrollbar, .modal::-webkit-scrollbar{
    display: none;
}
.trans{
  transition-property:all;
  transition-timing-function:ease-in-out;
  transition-duration: 500ms;
}
section{
  @apply px-4 xl:px-14
}
